<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cadastro de Membros
    </ion-title>
  </ion-toolbar>
  <div style="padding-left: 15px; padding-right: 15px;"
    class="flex justify-content-space-between ion-margin-top relative">
    <div class="absolute full-width line"></div>
    <div class="flex flex-column justify-content-center full-width"
      *ngFor="let slide of slides; let index = index; let first = first; let last = last;">
      <span [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
        class="flex flex-column align-items-center justify-content-center bold text-medium radius"
        style="width: 30px; height: 30px;"
        [style.background]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-light-shade)'"
        [style.color]="slide === currentSlide ? 'var(--ion-color-light)':'var(--ion-color-dark)'"
        [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }">
        {{ index + 1 }}
      </span>
      <span [style.color]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-medium)'"
        [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
        class="flex text-medium bold ion-margin-vertical">
        {{ slide }}
      </span>
    </div>
  </div>
  <div style="padding-left: 15px; padding-right: 15px;">
    <div class="full-width flex align-items-center justify-content-space-between" *ngIf="!isEnabledBack">
      <ion-button style="width: 120px;" strong shape="round" color="dark"
        [style.visibility]="(isBeginning || isEnd) ? 'hidden' : ''" (click)="onBackButtonTouched()">
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button style="width: 120px;" strong shape="round" color="primary" [style.visibility]="isEnd ? 'hidden' : ''"
        (click)="onNextButtonTouched()">
        <span>Next</span>
      </ion-button>
    </div>
    <div class="full-width flex align-items-center justify-content-space-between">
      <ion-button style="width: 120px;" strong shape="round" color="dark" *ngIf="isEnabledBack" (click)="onBackButtonTouched()">
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">

  <ion-slides [options]="slidesOpts" (ionSlideDidChange)="onSlidesDidChange()" (ionSlideWillChange)="onSlidesChanged()">
    <ng-container *ngFor="let slide of slides">
      <ion-slide>
        <form style="height: 600px; overflow: scroll" (ngSubmit)="createPdf()" [formGroup]="dadosForm"
          #dadosFormRef="ngForm" novalidate *ngIf="slide === 'Dados Pessoais'" class="custom-form">
          <ion-item>
            <ion-label position="floating">CONGREGAÇÃO</ion-label>
            <ion-select [(ngModel)]="congregacao" (ngModelChange)="congregacao=$event" formControlName="congregacao">
              <ng-container *ngFor="let section of listaCongregacao">
                <ion-select-option disabled>{{ section.regional }}</ion-select-option>
                <ng-container *ngFor="let option of section.options">
                  <ion-select-option [value]="option.value">{{ option.value }}</ion-select-option>
                </ng-container>
              </ng-container>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="cpf=$event" formControlName="cpf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">NOME COMPLETO</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="nome=$event" formControlName="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">DATA NASC:</ion-label>
            <ion-input
              id="selectDateNasc"
              placeholder="dd/mm/aaaa"
              [readonly]="true"
              [value]="dataNascimento">
            </ion-input>
            <ion-modal
              trigger="selectDateNasc"
              [keepContentsMounted]="true"
              (willPresent)="onWillPresent($event, 1)"
              class="ion-datetime-button-overlay">
              <ng-template>
                <ion-datetime
                  #usageNasc
                  presentation="date"
                  [value]="usageDateNasc"
                  [showDefaultButtons]="true"
                  doneText="OK"
                  cancelText="Cancelar"
                  formControlName="dataNascimento"
                  (ngModelChange)="dataNascimento=$event" 
                  (ionChange)="onDateChange($event, 1)">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item>
            <ion-label position="floating">SEXO</ion-label>
            <ion-select [(ngModel)]="sexo" (ngModelChange)="sexo=$event" formControlName="sexo">
              <ion-select-option value="masculino">MASCULINO</ion-select-option>
              <ion-select-option value="feminino">FEMININO</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">ESTADO CIVIL</ion-label>
            <ion-select [(ngModel)]="estadoCivil" (ngModelChange)="estadoCivil=$event" formControlName="estadoCivil">
              <ion-select-option value="casado(a)">CASADO(a)</ion-select-option>
              <ion-select-option value="solteiro(a)">SOLTEIRO(a)</ion-select-option>
              <ion-select-option value="divorciado(a)">DIVORCIADO(a)</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">NACIONALIDADE</ion-label>
            <ion-select [(ngModel)]="nacionalidade" (ngModelChange)="nacionalidade=$event" formControlName="nacionalidade">
              <ion-select-option value="brasileiro(a)">BRASILEIRO(a)</ion-select-option>
              <ion-select-option value="estrangeiro(a)">ESTRANGEIRO(a)</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">NATURALIDADE</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="naturalidade=$event" formControlName="naturalidade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">UF</ion-label>
            <ion-select (ngModelChange)="uf=$event" formControlName="uf">
              <ion-select-option *ngFor="let item of estadosBrasil" [value]="item.sigla">{{item.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">E-MAIL</ion-label>
            <ion-input style="text-transform: u;" (ngModelChange)="email=$event" formControlName="email" ngModel email></ion-input>
            <ion-note slot="error">E-mail Invalido</ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">NOME MÃE</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="nomeMae=$event" formControlName="nomeMae"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">NOME PAI</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="nomePai=$event" formControlName="nomePai"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">ESCOLARIDADE</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="escolaridade=$event" formControlName="escolaridade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">TELEFONE 1</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="telefone1=$event" formControlName="telefone1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">TELEFONE 2</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="telefone2=$event" formControlName="telefone2"></ion-input>
          </ion-item>
        </form>

        <form style="height: 600px; overflow: scroll" [formGroup]="enderecoForm" #enderecoFormRef="ngForm" novalidate
          *ngIf="slide === 'Endereço'" class="custom-form">
          <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="cep=$event" formControlName="cep"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">RUA</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="rua=$event" formControlName="rua"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">NÚMERO</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="numero=$event" formControlName="numero"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">BAIRRO</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="bairro=$event" formControlName="bairro"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">COMPLEMENTO</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="complemento=$event" formControlName="complemento"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">ESTADO</ion-label>
            <ion-select (ngModelChange)="estado=$event" formControlName="estado">
              <ion-select-option *ngFor="let item of estadosBrasil" [value]="item.nome">{{item.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">CIDADE</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="cidade=$event" formControlName="cidade"></ion-input>
          </ion-item>
        </form>

        <form style="height: 600px; overflow: scroll" [formGroup]="ministerioForm" #ministerioFormRef="ngForm"
          novalidate *ngIf="slide === 'Ministério'" class="custom-form">
          <ion-item>
            <ion-label position="floating">DATA BATISMO NAS ÁGUAS:</ion-label>
            <ion-input
              id="selectDateBatAgua"
              placeholder="dd/mm/aaaa"
              [readonly]="true"
              [value]="batismoAgua">
            </ion-input>
            <ion-modal
              trigger="selectDateBatAgua"
              [keepContentsMounted]="true"
              (willPresent)="onWillPresent($event, 2)"
              class="ion-datetime-button-overlay">
              <ng-template>
                <ion-datetime
                  #usageBatAgua
                  presentation="date"
                  [value]="usageDateBatAgua"
                  [showDefaultButtons]="true"
                  doneText="OK"
                  cancelText="Cancelar"
                  formControlName="batismoAgua"
                  (ngModelChange)="batismoAgua=$event" 
                  (ionChange)="onDateChange($event, 2)">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA BATISMO ESPÍRITO SANTO:</ion-label>
            <ion-input
              id="selectDateBatEspSanto"
              placeholder="dd/mm/aaaa"
              [readonly]="true"
              [value]="batismoEspiritoSanto">
            </ion-input>
            <ion-modal
              trigger="selectDateBatEspSanto"
              [keepContentsMounted]="true"
              (willPresent)="onWillPresent($event, 3)"
              class="ion-datetime-button-overlay">
              <ng-template>
                <ion-datetime
                  #usageBatEspSanto
                  presentation="date"
                  [value]="usageDateBatEspSanto"
                  [showDefaultButtons]="true"
                  doneText="OK"
                  cancelText="Cancelar"
                  formControlName="batismoEspiritoSanto"
                  (ngModelChange)="batismoEspiritoSanto=$event" 
                  (ionChange)="onDateChange($event, 3)">
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item>
            <ion-label position="floating">OBREIRO</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="obreiroSim=$event" formControlName="obreiroSim"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">CARGO</ion-label>
            <ion-input style="text-transform: uppercase;" (ngModelChange)="obreiroCargo=$event" formControlName="obreiroCargo"></ion-input>
          </ion-item>

          <ion-card style="padding-bottom: 100px;">
            <ion-item>
              <ion-label position="floating">DIÁCONO DATA INÍCIO:</ion-label>
              <ion-input
                id="selectDateDiacono"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="consDiacono">
              </ion-input>
              <ion-modal
                trigger="selectDateDiacono"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 4)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usageDiacono
                    presentation="date"
                    [value]="usageDateDiacono"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="consDiacono"
                    (ngModelChange)="consDiacono=$event" 
                    (ionChange)="onDateChange($event, 4)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating">LOCAL:</ion-label>
              <ion-input style="text-transform: uppercase;" (ngModelChange)="localDiacono=$event" formControlName="localDiacono"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">DIÁCONO DATA INÍCIO:</ion-label>
              <ion-input
                id="selectDatePresbitero"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="consPresbitero">
              </ion-input>
              <ion-modal
                trigger="selectDatePresbitero"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 5)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usagePresbitero
                    presentation="date"
                    [value]="usageDatePresb"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="consPresbitero"
                    (ngModelChange)="consPresbitero=$event" 
                    (ionChange)="onDateChange($event, 5)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-label position="floating">LOCAL:</ion-label>
              <ion-input style="text-transform: uppercase;" (ngModelChange)="localPresbitero=$event" formControlName="localPresbitero"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">EVANGELISTA DATA INÍCIO:</ion-label>
              <ion-input
                id="selectDateEvangelista"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="consEvangelista">
              </ion-input>
              <ion-modal
                trigger="selectDateEvangelista"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 6)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usageEvangelista
                    presentation="date"
                    [value]="usageDateEvang"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="consEvangelista"
                    (ngModelChange)="consEvangelista=$event" 
                    (ionChange)="onDateChange($event, 6)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-label position="floating">LOCAL:</ion-label>
              <ion-input style="text-transform: uppercase;" (ngModelChange)="localEvangelista=$event" formControlName="localEvangelista"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">PASTOR DATA INICIO:</ion-label>
              <ion-input
                id="selectDatePastor"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="consPastor">
              </ion-input>
              <ion-modal
                trigger="selectDatePastor"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 7)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usagePastor
                    presentation="date"
                    [value]="usageDatePastor"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="consPastor"
                    (ngModelChange)="consPastor=$event" 
                    (ionChange)="onDateChange($event, 7)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-label position="floating">LOCAL:</ion-label>
              <ion-input style="text-transform: uppercase;" (ngModelChange)="localPastor=$event" formControlName="localPastor"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">REGISTRO CAMPO JD. AMÉRICA:</ion-label>
              <ion-input
                id="selectDateCampo"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="regCampo">
              </ion-input>
              <ion-modal
                trigger="selectDateCampo"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 8)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usageCampo
                    presentation="date"
                    [value]="usageDateCampo"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="regCampo"
                    (ngModelChange)="regCampo=$event" 
                    (ionChange)="onDateChange($event, 8)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-label position="floating">REGISTRO CADESGO:</ion-label>
              <ion-input
                id="selectDateCadesgo"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="regCadesgo">
              </ion-input>
              <ion-modal
                trigger="selectDateCadesgo"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 9)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usageCadesgo
                    presentation="date"
                    [value]="usageDateCadesgo"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="regCadesgo"
                    (ngModelChange)="regCadesgo=$event" 
                    (ionChange)="onDateChange($event, 9)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item>
              <ion-label position="floating">REGISTRO CGADB:</ion-label>
              <ion-input
                id="selectDateCgadb"
                placeholder="dd/mm/aaaa"
                [readonly]="true"
                [value]="regCgadb">
              </ion-input>
              <ion-modal
                trigger="selectDateCgadb"
                [keepContentsMounted]="true"
                (willPresent)="onWillPresent($event, 10)"
                class="ion-datetime-button-overlay">
                <ng-template>
                  <ion-datetime
                    #usageCgadb
                    presentation="date"
                    [value]="usageDateCgadb"
                    [showDefaultButtons]="true"
                    doneText="OK"
                    cancelText="Cancelar"
                    formControlName="regCgadb"
                    (ngModelChange)="regCgadb=$event" 
                    (ionChange)="onDateChange($event, 10)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-card>
        </form>
      </ion-slide>
    </ng-container>
  </ion-slides>

  <img [src]="photoPreview" *ngIf="photoPreview">

</ion-content>

<ion-footer *ngIf="isEnabledBack">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" shape="round" (click)="takePicture()"> Foto </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" shape="round" (click)="createPdf()" type="submit"> Salvar </ion-button>
      </ion-col>
      <ion-col *ngIf="urlPdf !== ''">
        <ion-button expand="full" shape="round" (click)="downloadPdf()" color="success"> PDF </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>