<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cadastro de Membros
    </ion-title>
  </ion-toolbar>
  <div style="padding-left: 15px; padding-right: 15px;"
    class="flex justify-content-space-between ion-margin-top relative">
    <div class="absolute full-width line"></div>
    <div class="flex flex-column justify-content-center full-width"
      *ngFor="let slide of slides; let index = index; let first = first; let last = last;">
      <span [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
        class="flex flex-column align-items-center justify-content-center bold text-medium radius"
        style="width: 30px; height: 30px;"
        [style.background]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-light-shade)'"
        [style.color]="slide === currentSlide ? 'var(--ion-color-light)':'var(--ion-color-dark)'"
        [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }">
        {{ index + 1 }}
      </span>
      <span [style.color]="slide === currentSlide ? 'var(--ion-color-primary)':'var(--ion-color-medium)'"
        [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
        class="flex text-medium bold ion-margin-vertical">
        {{ slide }}
      </span>
    </div>
  </div>
  <div style="padding-left: 15px; padding-right: 15px;">
    <div class="full-width flex align-items-center justify-content-space-between" *ngIf="!isEnabledBack">
      <ion-button style="width: 120px;" strong shape="round" color="dark"
        [style.visibility]="(isBeginning || isEnd) ? 'hidden' : ''" (click)="onBackButtonTouched()">
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button style="width: 120px;" strong shape="round" color="primary" [style.visibility]="isEnd ? 'hidden' : ''"
        (click)="onNextButtonTouched()">
        <span>Next</span>
      </ion-button>
    </div>
    <div class="full-width flex align-items-center justify-content-space-between">
      <ion-button style="width: 120px;" strong shape="round" color="dark" *ngIf="isEnabledBack" (click)="onBackButtonTouched()">
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">

  <ion-slides [options]="slidesOpts" (ionSlideDidChange)="onSlidesDidChange()" (ionSlideWillChange)="onSlidesChanged()">
    <ng-container *ngFor="let slide of slides">
      <ion-slide>
        <form style="height: 600px; overflow: scroll" (ngSubmit)="createPdf()" [formGroup]="dadosForm"
          #dadosFormRef="ngForm" novalidate *ngIf="slide === 'Dados Pessoais'" class="custom-form">

          <ion-item id="click-congregacao">
            <div  style="cursor: pointer;">
              <ion-label position="floating">CONGREGAÇÃO: <span style="color:  blueviolet;">{{congregacao !== '' ? congregacao : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-congregacao" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      CONGREGAÇÃO
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="congregacao" formControlName="congregacao" *ngFor="let section of strCongregacao">
                    <ion-item-divider>
                      <ion-label> {{ section.regional }}</ion-label>
                    </ion-item-divider>
                    <ion-item *ngFor="let option of section.options">
                      <ion-label>{{ option.value }}</ion-label>
                      <ion-radio slot="start" [value]="option.value"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}" (ngModelChange)="cpf=$event" formControlName="cpf" required></ion-input>
            <ion-note slot="error">Cpf é obrigatório</ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">NOME COMPLETO</ion-label>
            <ion-input style="text-transform: uppercase; color: blueviolet;" (ngModelChange)="nome=$event" formControlName="nome" required></ion-input>
            <ion-note slot="error">Nome é obrigatório</ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA NASC:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="dataNascimento=$event" formControlName="dataNascimento" required></ion-input>
            <ion-note slot="error">Data de Nascimento é obrigatório</ion-note>
          </ion-item>

          <ion-item id="click-sexo">
            <div  style="cursor: pointer;">
              <ion-label position="floating">SEXO: <span style="color:  blueviolet;">{{sexo !== '' ? sexo : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-sexo" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      SEXO
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="sexo" formControlName="sexo" *ngFor="let sex of strSexo">
                    <ion-item>
                      <ion-label>{{sex.nome}}</ion-label>
                      <ion-radio slot="start" [value]="sex.nome"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item id="click-estadoCivil">
            <div  style="cursor: pointer;">
              <ion-label position="floating">ESTADO CIVIL: <span style="color:  blueviolet;">{{estadoCivil !== '' ? estadoCivil : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-estadoCivil" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      ESTADO CIVIL
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="estadoCivil" formControlName="estadoCivil" *ngFor="let civil of strEstadoCivil">
                    <ion-item>
                      <ion-label>{{civil.nome}}</ion-label>
                      <ion-radio slot="start" [value]="civil.nome"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item id="click-nacionalidade">
            <div  style="cursor: pointer;">
              <ion-label position="floating">NACIONALIDADE: <span style="color:  blueviolet;">{{nacionalidade !== '' ? nacionalidade : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-nacionalidade" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      NACIONALIDADE
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="nacionalidade" formControlName="nacionalidade" *ngFor="let nasc of strNacionalidade">
                    <ion-item>
                      <ion-label>{{nasc.nome}}</ion-label>
                      <ion-radio slot="start" [value]="nasc.nome"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label position="floating">NATURALIDADE</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="naturalidade=$event" formControlName="naturalidade" required></ion-input>
            <ion-note slot="error">Naturalidade é obrigatório</ion-note>
          </ion-item>

          <ion-item id="click-uf">
            <div  style="cursor: pointer;">
              <ion-label position="floating">UF: <span style="color:  blueviolet;">{{uf !== '' ? uf : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-uf" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      UF
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="uf" formControlName="uf" *ngFor="let estado of strEstados">
                    <ion-item>
                      <ion-label>{{estado.nome}} - {{estado.sigla}}</ion-label>
                      <ion-radio slot="start" [value]="estado.sigla"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label position="floating">E-MAIL</ion-label>
            <ion-input style="color: blueviolet;" (ngModelChange)="email=$event" formControlName="email" ngModel email></ion-input>
            <ion-note slot="error">E-mail Invalido</ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">NOME MÃE</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="nomeMae=$event" formControlName="nomeMae" required></ion-input>
            <ion-note slot="error">Nome da Mãe é obrigatório</ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">NOME PAI</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="nomePai=$event" formControlName="nomePai"></ion-input>
          </ion-item>

          <ion-item id="click-escolaridade">
            <div  style="cursor: pointer;">
              <ion-label position="floating">ESCOLARIDADE: <span style="color:  blueviolet;">{{escolaridade !== '' ? escolaridade : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-escolaridade" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      ESCOLARIDADE
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="escolaridade" formControlName="escolaridade" *ngFor="let escola of strEscolaridade">
                    <ion-item>
                      <ion-label>{{escola.nome}}</ion-label>
                      <ion-radio slot="start" [value]="escola.nome"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label position="floating">TELEFONE 1</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{phone: true}"  (ngModelChange)="telefone1=$event" formControlName="telefone1"></ion-input>
          </ion-item>

          <ion-item style="padding-bottom: 100px;">
            <ion-label position="floating">TELEFONE 2</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{phone: true}" (ngModelChange)="telefone2=$event" formControlName="telefone2"></ion-input>
          </ion-item>
        </form>

        <form style="height: 600px; overflow: scroll" [formGroup]="enderecoForm" #enderecoFormRef="ngForm" novalidate
          *ngIf="slide === 'Endereço'" class="custom-form">
          <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="cep=$event" formControlName="cep"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">RUA</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="rua=$event" formControlName="rua"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">NÚMERO</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="numero=$event" formControlName="numero"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">BAIRRO</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="bairro=$event" formControlName="bairro"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">COMPLEMENTO</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="complemento=$event" formControlName="complemento"></ion-input>
          </ion-item>

          <ion-item id="click-estado">
            <div  style="cursor: pointer;">
              <ion-label position="floating">ESTADO: <span style="color:  blueviolet;">{{estado !== '' ? estado : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-estado" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      ESTADO
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="estado" formControlName="estado" *ngFor="let est of strEstados">
                    <ion-item>
                      <ion-label>{{est.nome}} - {{est.sigla}}</ion-label>
                      <ion-radio slot="start" [value]="est.nome"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item  style="padding-bottom: 100px;">
            <ion-label position="floating">CIDADE</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="cidade=$event" formControlName="cidade"></ion-input>
          </ion-item>
        </form>

        <form style="height: 600px; overflow: scroll" [formGroup]="ministerioForm" #ministerioFormRef="ngForm"
          novalidate *ngIf="slide === 'Ministério'" class="custom-form">
          <ion-item>
            <ion-label position="floating">DATA BAT. ÁGUAS:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="batismoAgua=$event" formControlName="batismoAgua"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA BAT. ESPÍRITO SANTO:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="batismoEspiritoSanto=$event" formControlName="batismoEspiritoSanto"></ion-input>
          </ion-item>

          <ion-item id="click-isObreiro">
            <div  style="cursor: pointer;">
              <ion-label position="floating">OBREIRO: <span style="color:  blueviolet;">{{isObreiro !== '' ? isObreiro : ''}}</span></ion-label>
            </div>
            <ion-popover class="style-popover" trigger="click-isObreiro" triggerAction="click" alignment="center" [dismissOnSelect]="true">
              <ng-template>
                <ion-header>
                  <ion-toolbar color="primary">
                    <ion-title>
                      OBREIRO
                    </ion-title>
                  </ion-toolbar>
                </ion-header>
                <ion-content>
                  <ion-radio-group [(ngModel)]="isObreiro" formControlName="isObreiro" *ngFor="let obr of strObreiro">
                    <ion-item>
                      <ion-label>{{obr.nome}}</ion-label>
                      <ion-radio slot="start" [value]="obr.nome"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CARGO</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="obreiroCargo=$event" formControlName="obreiroCargo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA CONSAG. DIÁCONO:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="consDiacono=$event" formControlName="consDiacono"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">LOCAL DA CONSAG.</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="localDiacono=$event" formControlName="localDiacono"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA CONSAG. PRESBÍTERO:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="consPresbitero=$event" formControlName="consPresbitero"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">LOCAL DA CONSAG.</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="localPresbitero=$event" formControlName="localPresbitero"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA CONSAG. EVANGELISTA:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="consEvangelista=$event" formControlName="consEvangelista"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">LOCAL DA CONSAG.</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="localEvangelista=$event" formControlName="localEvangelista"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">DATA CONSAG. PASTOR:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="consPastor=$event" formControlName="consPastor"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">LOCAL DA CONSAG.</ion-label>
            <ion-input style="text-transform: uppercase; color:  blueviolet;" (ngModelChange)="localPastor=$event" formControlName="localPastor"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">REGISTRO CAMPO JD. AMÉRICA:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="regCampo=$event" formControlName="regCampo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">REGISTRO CADESGO:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="regCadesgo=$event" formControlName="regCadesgo"></ion-input>
          </ion-item>

          <ion-item style="padding-bottom: 100px;">
            <ion-label position="floating">REGISTRO CGADB:</ion-label>
            <ion-input style="color: blueviolet;" type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" (ngModelChange)="regCgadb=$event" formControlName="regCgadb"></ion-input>
          </ion-item>
        </form>
      </ion-slide>
    </ng-container>
  </ion-slides>

  <img [src]="photoPreview" *ngIf="photoPreview">

</ion-content>

<ion-footer *ngIf="isEnabledBack">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="full" shape="round" (click)="takePicture()"> Foto </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" shape="round" (click)="createPdf()" type="submit"> Salvar </ion-button>
      </ion-col>
      <ion-col *ngIf="urlPdf !== ''">
        <ion-button expand="full" shape="round" (click)="downloadPdf()" color="success"> PDF </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>