<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cadastro de Membros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="createPdf()" [formGroup]="myForm">
    <ion-item lines="none">
      <ion-label>Incluir foto?</ion-label>
      <ion-checkbox formControlName="showLogo" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CONGREGAÇÃO</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Sexo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estado Civil</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nacionalidade</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Naturalidade</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">UF</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Escolaridade</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone 1</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone 2</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CEP</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Rua</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bairro</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data Batismo nas águas</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data Batismo no Espírito Santo</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Obreiro</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cargo:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked">Diácono data Início</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Local:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked">Presbitero data Início</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Local:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked">Evangelista data Início</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Local:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked">Pastor data Início</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Local:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="stacked">Registro Campo Jd. América</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Registro CADESGO</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Registro CGADB</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </form>

  <img [src]="photoPreview" *ngIf="photoPreview">

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="full" shape="round" (click)="takePicture()">Foto</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" shape="round" (click)="createPdf()" type="submit">Criar Pdf</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" shape="round" (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Salvar
        PDF</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>