.line {
  height: 3px;
  background: var(--ion-color-light-shade);
  top: 14px;
  z-index: -1;
}

ion-slides {
  height: 100%;

  ion-slide {
    align-items: flex-start;
  }

  .swiper-slide {
    visibility: hidden;
  }

  .swiper-slide.swiper-slide-active {
    visibility: visible;
  }
}

ion-label {
  font-size: 18px !important;
  font-weight: bold;
}

.custom-form {
  width: 100%; /* Ocupa 100% da largura do contêiner pai */
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: bottom 0.3s ease;
}

.keyboard-visible ion-footer {
  bottom: 300px; /* Ajuste conforme necessário */
  transition: bottom 0.3s ease; /* Para uma transição suave */
}